
#bt_novo_grupo:hover, #bt_editar_grupo:hover, #bt_nova_conta:hover, #bt_editar_conta:hover {
    cursor: pointer;
    background: #CFCFCF;
    color: black;
}
#bt_novo_grupo, #bt_editar_grupo, #bt_nova_conta, #bt_editar_conta {
    background: #FFFFE0;
    width: 140px;
    font: 12px verdana;
    height: 30px;
    color: black;
    margin-bottom: 10px;
}

.cor-selecionado { background-color: #44983a !important; color: white !important; }

#table_grupos, #table_contas { background-color: #e1f0e1; }
.font01{
    background-color: black;
    height: 20px;
    border: 1px;
    font-family:verdana;
    font-size: 10px;
    color: white;
    font-weight:bold;
    list-style: none;
    line-height: 20px;
}
.font02{
    height: 20px;
    border: 1px;
    font-family:verdana;
    font-size: 10px;
    font-weight:bold;
    list-style: none;
    line-height: 20px;
}
.colunas {
    height: 500px;
    border: 1px solid black;
    background-color: bisque;
    overflow: auto;
}

.btn-plano-contas {
    background: #FFFFE0;
    width: 140px;
    font: 12px verdana;
    height: 30px;
    color: black;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.btn-plano-contas:hover {
    background: #CFCFCF;
}
.colunas table {
    width: 100%;
    border-collapse: collapse;
}
.colunas th, td {
    text-align: left;
}
.colunas tr:hover {
    color: red !important;
    cursor: pointer;
}
.input-field * {
    width: 100%;
}