 /* MENU  BARRINHAS */
    .menu li a{
        display: block;
        text-indent: -500em;
        height: 40px;
        width: 40px;;
        line-height: 40px;;
        text-align:center;
        color: #72739f;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
        left: 2px;
    }
/* FIM MENU BARRINHAS*/

/*  BARRINHA FICA DENTRO DESTE ESTILO*/
    .menu {
        /*position: fixed;
        top: 30;
        left: 465;
        height: 82px;*/
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        z-index:10;
        overflow:hidden;
        box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
        height: 45px;
        width: 45px;
    }
/* FIM ESTILO DAS BARRINHAS*/



/* LINHAS DO MENU DE DENTRO*/
    .menu-bar li a {
        display: block;
        height: 20px;
        line-height: 25px;;
        text-align:center;
        color: #72739f;
        color: black;
        text-decoration:none;
        position: relative;
        font-family:verdana;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
        font-family: verdana;
        font-size: 11px;
    }

    .menu-bar li b{
        display: block;
        height: 20px;
        line-height: 25px;;
        text-align:center;
        color: black;
        text-decoration:none;
        position: relative;
        font-family:verdana;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        transition: background 0.1s ease-in-out;
        font-family: verdana;
        font-size: 11px;
        background: #CDC9C9;
    }
/* FIM DAS LINHAS DO MENU DENTRO  */

    .menu li a:before {font-family: FontAwesome; text-indent: 0em; position: absolute; top: 0; left: 0; width: 100%; height: 100%; font-size: 1.4em;}
    .menu li a.home:before {content: "\f039";}
    .menu-bar li a:hover {background: bisque;}
    .menu li a:hover,
    .menu li:first-child a {background: #267fdd; color: #fff;}
    .menu-bar{overflow:hidden;left:540pxz; z-index:5; width:0; height:0; transition: all 0.1s ease-in-out;}
    .para{color:#033f72; padding-left:100px; font-size:3em; margin-bottom:20px;}

/*  MENU DE DENTRO */
    .open{ width:190px; height:500px; }
    .menu-bar {
        position: fixed;
        top: 70;
        left: 465;
        height: 590;  /*// tamanho do menu  TAMANO DO MENU NA VERTICAL  */
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: #f7f7f7;
        z-index: 9999;
        overflow:hidden;
        box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);

    }
/* FIM MENU DE DENTRO */



/* DVs da tela */
    #pagina{height: 700px; line-height: 35px; text-align: center; background-color:bisque; float: center; border-width: 5px; border-color: black;}
    #DivMeio{position:relative; border-width:2px; width:100px; height: 35px; background-color: white; float: left;}
    #DivEsquerda{position: relative; border-width:2px; width: 90px; height: 80px; left:0px; background-color: white; float: left;}
    .group:before,
    .group:after {content: ""; display: table;}
    .group:after { clear: both;}
    .group { zoom: 1; /* For IE 6/7 (trigger hasLayout) */}
    .group {position: top;}
/* Fim  DVs da tela */
    #imagem1 a:houver {cursor: pointer;}

    #relogio{
        border-radius: 12px;
        border-radius: 0px;
        border: 12px;
        border: 0px;

        font-family: verdana;
        font-family: the display st;
        font-family: Digital Dismay;
        font-family: ticking Timebomb BB;
        font-size: 30px;
        font-weight: normal;
        color:#008B00;
        /*color:red;*/
        /*text-align: center;*/
        padding-top: 7px;
    }
    .logo{ width: 100px; }
    .logo img:hover { cursor: pointer; }